<h1 style="align:center"> Feedback Form</h1>

<div class="mb-4 small">
Please provide your feedback in the form below
</div>
<form name="feedback_form" id="feedback_form" method="post" #myform="ngForm" (ngSubmit)="saveForm(myform.value)">
<label>How do you rate your overall experience?</label>
<div class="mb-3 d-flex flex-row py-1">
  <div class="form-check mr-3">
  <input class="form-check-input" type="radio" name="rating" id="rating_bad" value="bad" ngModel>
  <label class="form-check-label" for="rating_bad">
    Bad
  </label>
  </div>
  
  <div class="form-check mx-3">
  <input class="form-check-input" type="radio" name="rating" id="rating_good" value="good" ngModel>
  <label class="form-check-label" for="rating_good">
    Good
  </label>
  </div>
  
  <div class="form-check mx-3">
  <input class="form-check-input"  type="radio" name="rating" id="rating_excellent" value="excellent" ngModel>
  <label class="form-check-label" for="rating_excellent">
    Excellent!
  </label>
  </div>
</div>
<div class="mb-4">
  <label class="form-label"  for="feedback_comments">Comments:</label>
  <textarea class="form-control" required rows="6" name="comments" id="feedback_comments" ngModel></textarea>
</div>
<div class="row">
  <div class="col">
    <label class="form-label" for="feedback_name">Your Name:</label>
    <input type="text" required name="name" class="form-control" id="feedback_name" ngModel/>
  </div>
  
  <div class="col mb-4">
    <label class="form-label" for="feedback_email">Email:</label>
    <input type="email" name="email" required class="form-control" id="feedback_email" ngModel/>
  </div>
</div>
<button type="submit" class="btn btn-success btn-lg" >Post</button>

</form>

<h1>{{myform.value | json}}